;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;


;;;;
; all options with default values
;;;;
; access=null
; always-auth=false
; also=null
; bin-links=true
; browser=null
; ca=null
; cafile=undefined
; cache=C:\Users\zhangle\AppData\Roaming\npm-cache
; cache-lock-stale=60000
; cache-lock-retries=10
; cache-lock-wait=10000
; cache-max=null
; cache-min=10
; cert=null
; color=true
; depth=null
; description=true
; dev=false
; dry-run=false
; editor=notepad.exe
; engine-strict=false
; force=false
; fetch-retries=2
; fetch-retry-factor=10
; fetch-retry-mintimeout=10000
; fetch-retry-maxtimeout=60000
; git=git
; git-tag-version=true
; global=false
; globalconfig=U:\u~u\a0a\bins\NodeJS\npm-global\etc\npmrc
; global-style=false
; group=0
; heading=npm
; if-present=false
; ignore-scripts=false
; init-module=U:\u~u\a0a\.rc\.npm-init.js
; init-author-name=
; init-author-email=
; init-author-url=
; init-version=1.0.0
; init-license=ISC
; json=false
; key=null
; legacy-bundling=false
; link=false
; local-address=undefined
; loglevel=warn
; long=false
; maxsockets=50
; message=%s
; node-version=6.10.0
; npat=false
; onload-script=null
; only=null
; optional=true
; parseable=false
; prefix=U:\u~u\a0a\bins\NodeJS\node-v6.10.0-win-x64
; production=false
; progress=true
; proprietary-attribs=true
; proxy=null
; https-proxy=null
; user-agent=npm/{npm-version} node/{node-version} {platform} {arch}
; rebuild-bundle=true
; registry=https://registry.npmjs.org/
; rollback=true
; save=false
; save-bundle=false
; save-dev=false
; save-exact=false
; save-optional=false
; save-prefix=^
; scope=
; searchopts=
; searchexclude=null
; searchsort=name
; shell=C:\WINDOWS\system32\cmd.exe
; shrinkwrap=true
; sign-git-tag=false
; strict-ssl=true
; tag=latest
; tag-version-prefix=v
; tmp=C:\Users\zhangle\AppData\Local\Temp
; unicode=false
; unsafe-perm=true
; usage=false
; user=0
; userconfig=U:\u~u\a0a\.rc\.npmrc
; umask=0
; version=false
; versions=false
; viewer=browser
; _exit=true
; globalignorefile=U:\u~u\a0a\bins\NodeJS\npm-global\etc\npmignore
